.header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 80px;
    width: 100%;
    background-color: blue;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
    font-size: 3em;
    padding-top: 40px;
    font-weight: 900;
}